In [11]:
import pandas as pd
import requests
import time
import json
import numpy as np
pd.set_option('display.max_columns',None)

In [15]:
t_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2019-20&SeasonType=Regular%20Season&StatCategory=PTS'

In [60]:
r = requests.get(url=t_url).json()

In [61]:
column_headers = r['resultSet']['headers']
column_headers

['PLAYER_ID',
 'RANK',
 'PLAYER',
 'TEAM_ID',
 'TEAM',
 'GP',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'EFF',
 'AST_TOV',
 'STL_TOV']

In [62]:
pd.DataFrame(r['resultSet']['rowSet'], columns = column_headers )

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201935,1,James Harden,1610612745,HOU,68,2483,672,1514,0.444,299,843,0.355,692,800,0.865,70,376,446,512,125,60,308,227,2335,2220,1.66,0.41
1,203081,2,Damian Lillard,1610612757,POR,66,2474,624,1349,0.463,270,674,0.401,460,518,0.888,33,251,284,530,70,22,194,114,1978,1907,2.73,0.36
2,1626164,3,Devin Booker,1610612756,PHX,70,2512,627,1283,0.489,141,398,0.354,468,509,0.919,29,268,297,456,49,18,264,213,1863,1722,1.73,0.19
3,203507,4,Giannis Antetokounmpo,1610612749,MIL,63,1917,685,1238,0.553,89,293,0.304,398,629,0.633,140,716,856,354,61,66,230,195,1857,2180,1.54,0.27
4,1629027,5,Trae Young,1610612737,ATL,60,2120,546,1249,0.437,205,568,0.361,481,559,0.860,32,223,255,560,65,8,289,104,1778,1596,1.94,0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,1629676,525,Isaiah Roby,1610612760,OKC,3,11,0,1,0.000,0,0,0.000,0,0,0.000,0,2,2,0,0,0,1,1,0,0,0.00,0.00
525,1629122,525,J.P. Macura,1610612739,CLE,1,1,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,0.00,0.00
526,1629716,525,Marques Bolden,1610612739,CLE,1,3,0,0,0.000,0,0,0.000,0,0,0.000,0,2,2,0,1,0,0,1,0,3,0.00,0.00
527,1629742,525,Stanton Kidd,1610612762,UTA,4,15,0,3,0.000,0,1,0.000,0,0,0.000,0,3,3,1,0,0,2,3,0,-1,0.50,0.00
528,1629739,525,William Howard,1610612745,HOU,2,13,0,4,0.000,0,4,0.000,0,0,0.000,0,2,2,1,0,0,1,1,0,-2,1.00,0.00

In [63]:
temp1 = pd.DataFrame(r['resultSet']['rowSet'], columns = column_headers )
temp2 = pd.DataFrame({'Year':['2019-20' for i in range(len(temp1))],
                     'Season_type':['Regular%20Season' for i in range(len(temp1))]})
temp3 = pd.concat([temp2,temp1],axis = 1)
temp3

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2019-20,Regular%20Season,201935,1,James Harden,1610612745,HOU,68,2483,672,1514,0.444,299,843,0.355,692,800,0.865,70,376,446,512,125,60,308,227,2335,2220,1.66,0.41
1,2019-20,Regular%20Season,203081,2,Damian Lillard,1610612757,POR,66,2474,624,1349,0.463,270,674,0.401,460,518,0.888,33,251,284,530,70,22,194,114,1978,1907,2.73,0.36
2,2019-20,Regular%20Season,1626164,3,Devin Booker,1610612756,PHX,70,2512,627,1283,0.489,141,398,0.354,468,509,0.919,29,268,297,456,49,18,264,213,1863,1722,1.73,0.19
3,2019-20,Regular%20Season,203507,4,Giannis Antetokounmpo,1610612749,MIL,63,1917,685,1238,0.553,89,293,0.304,398,629,0.633,140,716,856,354,61,66,230,195,1857,2180,1.54,0.27
4,2019-20,Regular%20Season,1629027,5,Trae Young,1610612737,ATL,60,2120,546,1249,0.437,205,568,0.361,481,559,0.860,32,223,255,560,65,8,289,104,1778,1596,1.94,0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,2019-20,Regular%20Season,1629676,525,Isaiah Roby,1610612760,OKC,3,11,0,1,0.000,0,0,0.000,0,0,0.000,0,2,2,0,0,0,1,1,0,0,0.00,0.00
525,2019-20,Regular%20Season,1629122,525,J.P. Macura,1610612739,CLE,1,1,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,0.00,0.00
526,2019-20,Regular%20Season,1629716,525,Marques Bolden,1610612739,CLE,1,3,0,0,0.000,0,0,0.000,0,0,0.000,0,2,2,0,1,0,0,1,0,3,0.00,0.00
527,2019-20,Regular%20Season,1629742,525,Stanton Kidd,1610612762,UTA,4,15,0,3,0.000,0,1,0.000,0,0,0.000,0,3,3,1,0,0,2,3,0,-1,0.50,0.00
528,2019-20,Regular%20Season,1629739,525,William Howard,1610612745,HOU,2,13,0,4,0.000,0,4,0.000,0,0,0.000,0,2,2,1,0,0,1,1,0,-2,1.00,0.00

In [64]:
del temp1,temp2,temp3

In [69]:
new_columns = ['Year','Season_type'] + column_headers

In [70]:
pd.DataFrame(columns = new_columns)

Empty DataFrame
Columns: [Year, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

In [71]:
df = pd.DataFrame(columns = new_columns)
seasons = ['Regular%20Season','Playoffs']
years = ['2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19','2019-20','2020-21','2021-22','2022-23']
for y in years:
    for s in seasons:
        final_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season='+y+'&SeasonType='+s+'&StatCategory=PTS'
        r = requests.get(url=final_url).json()
        temp1 = pd.DataFrame(r['resultSet']['rowSet'], columns = column_headers)
        temp2 = pd.DataFrame({'Year':[y for i in range(len(temp1))],
                             'Season_type':[s for i in range(len(temp1))]})
        temp3 = pd.concat([temp2,temp1],axis = 1)
        df = pd.concat([df,temp3],axis = 0)
        print({y},{s})
        lag = np.random.uniform(low = 5,high = 40)
        print({round(lag,1)})
        time.sleep(lag)
print('FINISHED')

C:\Users\sanka\AppData\Local\Temp\ipykernel_5932\3744836351.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,temp3],axis = 0)

{'2012-13'} {'Regular%20Season'}
{5.1}
{'2012-13'} {'Playoffs'}
{11.0}
{'2013-14'} {'Regular%20Season'}
{23.5}
{'2013-14'} {'Playoffs'}
{37.9}
{'2014-15'} {'Regular%20Season'}
{39.0}
{'2014-15'} {'Playoffs'}
{16.0}
{'2015-16'} {'Regular%20Season'}
{28.3}
{'2015-16'} {'Playoffs'}
{21.1}
{'2016-17'} {'Regular%20Season'}
{14.4}
{'2016-17'} {'Playoffs'}
{26.9}
{'2017-18'} {'Regular%20Season'}
{39.4}
{'2017-18'} {'Playoffs'}
{36.9}
{'2018-19'} {'Regular%20Season'}
{11.2}
{'2018-19'} {'Playoffs'}
{10.7}
{'2019-20'} {'Regular%20Season'}
{28.9}
{'2019-20'} {'Playoffs'}
{21.3}
{'2020-21'} {'Regular%20Season'}
{13.6}
{'2020-21'} {'Playoffs'}
{17.5}
{'2021-22'} {'Regular%20Season'}
{36.9}
{'2021-22'} {'Playoffs'}
{33.9}
{'2022-23'} {'Regular%20Season'}
{13.5}
{'2022-23'} {'Playoffs'}
{25.6}
FINISHED

AttributeError: 'str' object has no attribute 'xlsx'

In [73]:
df.to_excel('nba_data.xlsx',index = False)